## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [18]:
a = 40

print (a)

40

2) Imprimir el tipo de dato de la constante 8.5

In [19]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [20]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [21]:
nombre = "julian"

5) Crear una variable que contenga un número complejo

In [22]:
complejo = 1 + 1j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [23]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [24]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [25]:
valor1 = "True"
valor2 = True
#no son lo mismo el valor1 es una variable string y valor2 es una variable booleana

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [31]:
print(type(valor1),type(valor2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [32]:
suma = 44 + 4.4

11) Realizar una operación de suma de números complejos

In [33]:
complejos = (1 + 1j) + (4 + 4j)

12) Realizar una operación de suma de un número real y otro complejo

In [34]:
suma + complejos

(53.4+5j)

13) Realizar una operación de multiplicación

In [35]:
camioneta = 4 * 4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [36]:
dosAla8 = 2^8
print(dosAla8)

10

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [39]:
cociente = 27 // 4
print(cociente)

6

16) De la división anterior solamente mostrar la parte entera

In [42]:
entera = 27 // 4
print (entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [43]:
resto  = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [44]:
resultado = (entera *4) + resto 
print(resultado)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [47]:
alfa = "suma" + "4" 
print (alfa)

suma4

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [54]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [3]:
2 == int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [4]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [5]:
var = 3 
var -= 1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [6]:
1<<2
#el sistema de numeracion binario es el lenguaje que entienden las maquinas , solo '0' y '1'
#el resultado de (1<<2) es 4 porque : primero el 1 lo represento como '0001' 
#Entonces esta operacoin mueve el 1 la cantidad de veces que le indique, en este caso a la izquierda.
#como lo muevo 2 el numero quedaria '0100' que en numero decimal es 4.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [7]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [9]:
saludo = 'hola' * 10
print(saludo)

holaholaholaholaholaholaholaholaholahola